<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Настройка viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Which programming language should i learn first?</title>

    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="js/index.js" type="text/javascript"></script>
    <script src="js/registration.js" type="text/javascript"></script>

</head>
<body class="body">

<header class="container-fluid head sticky-top">
    <nav class="navbar  navbar-expand-md navbar-toggleable-sm navbar-dark ">
        <button type="button" class="navbar-toggler  button_collapsed" data-toggle="collapse" data-target="#navbarToggler"  aria-expanded="false"><span class=" dg-primary navbar-toggler-icon"></span></button>
        <span class="navbar-brand mb-2 h1 text-light">WPLISLF</span>
        <span class="selected_city ml-5 mb-2 text-light"></span>
        <div class="collapse navbar-collapse navbar_list justify-content-center" id="navbarToggler">
            <ul class="navbar-nav ml-auto mr-2 navigation">
                <li class="nav-item active">
                    <a href="#"  class="nav-link text-light nav-item_word">Главная</a>
                </li>
                <li class="nav-item active">
                    <a type="button" th:unless="${#httpServletRequest.remoteUser}" class="nav-link text-light nav-item_word" style="background: transparent; border: 0;  font-weight: bold; font-family: monospace; font-size: larger; align-self:  center "  data-toggle="modal" data-target=".bd-signUp-modal-sm">Регистрация</a>
                </li>
                <li class="nav-item active">
                    <a type="button"  th:unless="${#httpServletRequest.remoteUser}" class="nav-link text-light nav-item_word" style="background: transparent; border: 0;  font-weight: bold; font-family: monospace; font-size: larger "  data-toggle="modal" data-target=".bd-signIn-modal-sm">Вход</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light nav-item_word" th:if="${#httpServletRequest.remoteUser}" th:inline="text" href="/profile" id = "userLogin">[[${#httpServletRequest.remoteUser}]]</a>
                </li>
                <li class="nav-item active" >
                    <a th:if="${#httpServletRequest.remoteUser}" href="/logout" class="nav-link text-light nav-item_word" style="background: transparent; border: 0;  font-weight: bold; font-family: monospace; font-size: larger ">Exit</a>
                </li>
                <li>
                    <div th:if="${param.error}">
                        <script>
                            alert("Такого логина и/или пароля нету");
                        </script>
                    </div>
                </li>
                <li class="nav-item active">
                    <select name="City" size="1" id="select" class="form-control select_form">
                        <option selected="selected" hidden>Select city</option>
                        <option value="NSK">NSK</option>
                        <option value="MSK">MSK</option>
                        <option value="BSK">BSK</option>
                        <option value="SPB">SPB</option>
                        <option value="BRN">BRN</option>
                        <option value="EKB">EKB</option>
                        <option value="TMSK">TMSK</option>
                        <option value="KRS">KRS</option>
                        <option value="OMSK">OMSK</option>
                        <option value="KZN">KZN</option>
                        <option value="NZHNOVG">NZHNOVG</option>
                        <option value="GROZNY">GROZNY</option>
                        <option value="PERM">PERM</option>
                        <option value="CHEL">CHEL</option>
                        <option value="SAMARA">SAMARA</option>
                    </select>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="container-fluid">
    <div class="col-12">
        <div class="main-photo" style = "height: 725px;"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-around a">
        <div class="col-xl-4 col-md-6 col-sm-8 col-12 tables_logo" id="python">
            <div class="row tables justify-content-center">
                <div class="col-xl-9 tables_item python_salary" style="text-align: left;"></div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-8 col-12 tables_logo" id="java">
            <div class="row tables justify-content-center">
                <div class="col-xl-9 tables_item java_salary" style="text-align: left;"></div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-8 col-12 tables_logo" id="ci">
            <div class="row tables justify-content-center">
                <div class="col-xl-9 tables_item ci_salary" style="text-align: left;"></div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-8 col-12 tables_logo" id="php">
            <div class="row tables justify-content-center">
                <div class="col-xl-9 tables_item php_salary" style="text-align: left;"></div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-8 col-12 tables_logo" id="cpp">
            <div class="row tables justify-content-center">
                <div class="col-xl-9 tables_item cpp_salary" style="text-align: left;"></div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-8 col-12 tables_logo" id="js">
            <div class="row tables justify-content-center">
                <div class="col-xl-9 tables_item js_salary" style="text-align: left;"></div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-8 col-12 tables_logo" id="csh">
            <div class="row tables justify-content-center">
                <div class="col-xl-9 tables_item csh_salary" style="text-align: left;"></div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-8 col-12 tables_logo" id="ruby">
            <div class="row tables justify-content-center">
                <div class="col-xl-9 tables_item ruby_salary" style="text-align: left;"></div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-8 col-12 tables_logo" id="obci">
            <div class="row tables justify-content-center">
                <div class="col-xl-9 tables_item obci_salary" style="text-align: left;"></div>
            </div>
        </div>
    </div>
    <span>
        <button type="button" class="updateSalary btn btn-primary" value="Update salary"/>
    </span>
</div>

<div class="container-fluid" >
    <div class="container lib">
        <ul class="nav nav-tabs" id="myTab" role="tablist" >
            <li class="nav-item">
                <a href="#python_tab" style="color: black; font-weight: bold; font-family: monospace; font-size: larger" class="nav-link active" id="python-tab" data-toggle="tab" role="tab" aria-controls="python_tab" aria-selected="true">Python</a>
            </li>
            <li class="nav-item">
                <a  href="#java_tab" style="color: black; font-weight: bold; font-family: monospace; font-size: larger" class="nav-link" id="java-tab" data-toggle="tab" role="tab" aria-controls="java_tab" aria-selected="false">Java</a>
            </li>
            <li class="nav-item">
                <a href="#c_tab" style="color: black; font-weight: bold; font-family: monospace; font-size: larger" class="nav-link" id="c-tab" data-toggle="tab" role="tab" aria-controls="c" aria-selected="false">C</a>
            </li>
            <li class="nav-item">
                <a href="#php_tab" style="color: black; font-weight: bold; font-family: monospace; font-size: larger" class="nav-link" id="php-tab" data-toggle="tab" role="tab" aria-controls="php" aria-selected="false">Php</a>
            </li>
            <li class="nav-item">
                <a href="#cpp_tab" style="color: black; font-weight: bold; font-family: monospace; font-size: larger" class="nav-link" id="cpp-tab" data-toggle="tab" role="tab" aria-controls="cpp" aria-selected="false">C++</a>
            </li>
            <li class="nav-item">
                <a href="#js_tab" style="color: black; font-weight: bold; font-family: monospace; font-size: larger" class="nav-link db-primary" id="js-tab" data-toggle="tab" role="tab" aria-controls="js" aria-selected="false">JS</a>
            </li>
            <li class="nav-item">
                <a href="#csh_tab" style="color: black; font-weight: bold; font-family: monospace; font-size: larger" class="nav-link" id="csh-tab" data-toggle="tab" role="tab" aria-controls="csh" aria-selected="false">C#</a>
            </li>
            <li class="nav-item">
                <a href="#ruby_tab" style="color: black; font-weight: bold; font-family: monospace; font-size: larger" class="nav-link" id="ruby-tab" data-toggle="tab" role="tab" aria-controls="ruby" aria-selected="false">Ruby</a>
            </li>
            <li class="nav-item">
                <a href="#objc_tab" style="color: black; font-weight: bold; font-family: monospace; font-size: larger" class="nav-link" id="objc-tab" data-toggle="tab" role="tab" aria-controls="objc" aria-selected="false">Objective-C</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent" th:if="${#httpServletRequest.remoteUser}">
            <div class="tab-pane fade active show" id="python_tab" role="tabpanel" aria-labelledby="python_tab">
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col">Книги
                            <ul class="lib_list">
                                <li><input type="checkbox" class="checked">Python Crash Course, Eric Matthes</li>
                                <li><input type="checkbox" class="checked">Head-First Python, Paul Barry</li>
                                <li><input type="checkbox" class="checked">Invent Your Own Computer Games with Python, Al Sweigart</li>
                                <li><input type="checkbox" class="checked">Think Python: How to Think Like a Computer Scientist, Allen B. Downey</li>
                                <li><input type="checkbox" class="checked">Effective Computation in Physics: Field Guide to Research with Python, Anthony Scopatz, Kathryn D. Huff</li>
                                <li><input type="checkbox" class="checked">Learn Python 3 the Hard Way, Zed A. Shaw</li>
                                <li><input type="checkbox" class="checked">Real Python Course, Real Python Team</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="java_tab" role="tabpanel" aria-labelledby="java_tab" th:if="${#httpServletRequest.remoteUser}">
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col">Книги
                            <ul class="lib_list">
                                <li><input type="checkbox" class="checked">Effective Java - Joshua Bloch</li>
                                <li><input type="checkbox" class="checked">Clean Code: A Handbook of Agile Software Craftsmanship – Robert C. Martin</li>
                                <li><input type="checkbox" class="checked">Java Professional Library - Kay S. Horstmann</li>
                                <li><input type="checkbox" class="checked">Head First. Design Patterns - Eric Freeman, Elizabeth Robson</li>
                                <li><input type="checkbox" class="checked">Spring in Action - Craig Walls</li>
                                <li><input type="checkbox" class="checked">Test Driven: TDD and Acceptance TDD for Java Developers – Lasse Koskela</li>
                                <li><input type="checkbox" class="checked">Learning Java - Katie Sierra, Burt Bates</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="c_tab" role="tabpanel" aria-labelledby="c-tab" th:if="${#httpServletRequest.remoteUser}">
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col">Книги
                            <ul class="lib_list">
                                <li><input type="checkbox" class="checked">The C Book</li>
                                <li><input type="checkbox" class="checked">C Elements of Style</li>
                                <li><input type="checkbox" class="checked">The GNU C Reference Manual</li>
                                <li><input type="checkbox" class="checked">The GNU C Programming Tutorial</li>
                                <li><input type="checkbox" class="checked">Essential C</li>
                                <li><input type="checkbox" class="checked">Beej’s Guide to C Programming</li>
                                <li><input type="checkbox" class="checked">Modern C</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="php_tab" role="tabpanel" aria-labelledby="php-tab" th:if="${#httpServletRequest.remoteUser}">
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col">Книги
                            <ul class="lib_list">
                                <li><input type="checkbox" class="checked">PHP 7 tutorial - Igor Simdyanov</li>
                                <li><input type="checkbox" class="checked">PHP 7 in the original - Dmitry Koterov</li>
                                <li><input type="checkbox" class="checked">Learning PHP 7 - David Sklyar</li>
                                <li><input type="checkbox" class="checked">PHP The right way</li>
                                <li><input type="checkbox" class="checked">PHP 7 Zend Certification Study Guide</li>
                                <li><input type="checkbox" class="checked">Learning PHP Design Patterns</li>
                                <li><input type="checkbox" class="checked">PHP7 for beginners with step-by-step instructions Mike (McGrath)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="cpp_tab" role="tabpanel" aria-labelledby="cpp-tab" th:if="${#httpServletRequest.remoteUser}">
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col">Книги
                            <ul class="lib_list">
                                <li><input type="checkbox" class="checked">«Programming: principles and practice of using C ++ ”(Björn Straustrup)»</li>
                                <li><input type="checkbox" class="checked">«C++ Primer»* (Stanley Lippman, Jose Lazhua and Barbara E. Mu)</li>
                                <li><input type="checkbox" class="checked">Overview С++» (Björn Straustrup)</li>
                                <li><input type="checkbox" class="checked">«Accelerated C++» (Andrew Koenig and Barbara Mu)</li>
                                <li><input type="checkbox" class="checked">«Thinking in C++» (Bruce eckel)</li>
                                <li><input type="checkbox" class="checked">«Effective C++» (Scott Myers)</li>
                                <li><input type="checkbox" class="checked">«Effective Modern C++» (Scott Myers)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="js_tab" role="tabpanel" aria-labelledby="js-tab" th:if="${#httpServletRequest.remoteUser}">
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col">Книги
                            <ul class="lib_list">
                                <li><input type="checkbox" class="checked">«JavaScript. Strengths»</li>
                                <li><input type="checkbox" class="checked">«You do not know JS»</li>
                                <li><input type="checkbox" class="checked">«Expressive Javascript»</li>
                                <li><input type="checkbox" class="checked">«The power of JavaScript. 68 Ways to Use JS Effectively»</li>
                                <li><input type="checkbox" class="checked">«JavaScript. Detailed Guide»</li>
                                <li><input type="checkbox" class="checked">«Ninja JavaScript Secrets»</li>
                                <li><input type="checkbox" class="checked">«JavaScript. The Basics»</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="csh_tab" role="tabpanel" aria-labelledby="csh-tab" th:if="${#httpServletRequest.remoteUser}">
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col">Книги
                            <ul class="lib_list">
                                <li><input type="checkbox" class="checked">C# Programming Yellow Book</li>
                                <li><input type="checkbox" class="checked">Fundamentals of Computer Programming with C#</li>
                                <li><input type="checkbox" class="checked">C# Programming</li>
                                <li><input type="checkbox" class="checked">.NET Book Zero</li>
                                <li><input type="checkbox" class="checked">C # 7.0 Pocket guide</li>
                                <li><input type="checkbox" class="checked">Microsoft Visual C #. Detailed guide</li>
                                <li><input type="checkbox" class="checked">Introduction to programming and the C# language</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="ruby_tab" role="tabpanel" aria-labelledby="ruby-tab" th:if="${#httpServletRequest.remoteUser}">
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col">Книги
                            <ul class="lib_list">
                                <li><input type="checkbox" class="checked">Ruby Best Practices</li>
                                <li><input type="checkbox" class="checked">Ruby path</li>
                                <li><input type="checkbox" class="checked">Learn Ruby the Hard Way</li>
                                <li><input type="checkbox" class="checked">Head First. Learn Ruby</li>
                                <li><input type="checkbox" class="checked">Ruby Essentials</li>
                                <li><input type="checkbox" class="checked">Ruby Programming</li>
                                <li><input type="checkbox" class="checked">Ruby on Rails for beginners. Learning Rails Web Application Development</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="objc_tab" role="tabpanel" aria-labelledby="objc-tab" th:unless="${#httpServletRequest.remoteUser}">
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col">Книги
                            <ul class="lib_list">
                                <li>Programming on Objective-C Steven Kochan</li>
                                <li>Iphone SDK Application Development Jonathan Zdiarski</li>
                                <li>Objective-C 2.0 and Mac Programming Mark Dalrymple</li>
                                <li>Application development for iPhone. Complete guide</li>
                                <li>Head First iPhone Development</li>
                                <li>Objective-C Programming For Dummies</li>
                                <li>Learn Objective-C on the Mac (Learn Series)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="tab-content" id="myTabContent" th:unless="${#httpServletRequest.remoteUser}">
            <div class="tab-pane fade active show" id="python_tab" role="tabpanel" aria-labelledby="python_tab">
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col">Книги
                            <ul class="lib_list">
                                <li>Python Crash Course, Eric Matthes</li>
                                <li>Head-First Python, Paul Barry</li>
                                <li>Invent Your Own Computer Games with Python, Al Sweigart</li>
                                <li>Think Python: How to Think Like a Computer Scientist, Allen B. Downey</li>
                                <li>Effective Computation in Physics: Field Guide to Research with Python, Anthony Scopatz, Kathryn D. Huff</li>
                                <li>Learn Python 3 the Hard Way, Zed A. Shaw</li>
                                <li>Real Python Course, Real Python Team</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="java_tab" role="tabpanel" aria-labelledby="java_tab" th:unless="${#httpServletRequest.remoteUser}">
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col">Книги
                            <ul class="lib_list">
                                <li>Effective Java - Joshua Bloch</li>
                                <li>Clean Code: A Handbook of Agile Software Craftsmanship – Robert C. Martin</li>
                                <li>Java Professional Library - Kay S. Horstmann</li>
                                <li>Head First. Design Patterns - Eric Freeman, Elizabeth Robson</li>
                                <li>Spring in Action - Craig Walls</li>
                                <li>Test Driven: TDD and Acceptance TDD for Java Developers – Lasse Koskela</li>
                                <li>Learning Java - Katie Sierra, Burt Bates</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="c_tab" role="tabpanel" aria-labelledby="c-tab" th:unless="${#httpServletRequest.remoteUser}">
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col">Книги
                            <ul class="lib_list">
                                <li>The C Book</li>
                                <li>C Elements of Style</li>
                                <li>The GNU C Reference Manual</li>
                                <li>The GNU C Programming Tutorial</li>
                                <li>Essential C</li>
                                <li>Beej’s Guide to C Programming</li>
                                <li>Modern C</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="php_tab" role="tabpanel" aria-labelledby="php-tab" th:unless="${#httpServletRequest.remoteUser}">
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col">Книги
                            <ul class="lib_list">
                                <li>PHP 7 tutorial - Igor Simdyanov</li>
                                <li>PHP 7 in the original - Dmitry Koterov</li>
                                <li>Learning PHP 7 - David Sklyar</li>
                                <li>PHP The right way</li>
                                <li>PHP 7 Zend Certification Study Guide</li>
                                <li>Learning PHP Design Patterns</li>
                                <li>PHP7 for beginners with step-by-step instructions Mike (McGrath)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="cpp_tab" role="tabpanel" aria-labelledby="cpp-tab" th:unless="${#httpServletRequest.remoteUser}">
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col">Книги
                            <ul class="lib_list">
                                <li>«Programming: principles and practice of using C ++» (Björn Straustrup)</li>
                                <li>«C++ Primer»* (Stanley Lippman, Jose Lazhua and Barbara E. Mu)</li>
                                <li>«Overview С++» (Björn Straustrup)</li>
                                <li>«Accelerated C++» (Andrew Koenig and Barbara Mu)</li>
                                <li>«Thinking in C++» (Bruce eckel)</li>
                                <li>«Effective C++» (Scott Myers)</li>
                                <li>«Effective Modern C++» (Scott Myers)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="js_tab" role="tabpanel" aria-labelledby="js-tab" th:unless="${#httpServletRequest.remoteUser}">
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col">Книги
                            <ul class="lib_list">
                                <li>«JavaScript. Strengths»</li>
                                <li>«You do not know JS»</li>
                                <li>«Expressive Javascript»</li>
                                <li>«The power of JavaScript. 68 Ways to Use JS Effectively»</li>
                                <li>«JavaScript. Detailed Guide»</li>
                                <li>«Ninja JavaScript Secrets»</li>
                                <li>«JavaScript. The Basics»</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="csh_tab" role="tabpanel" aria-labelledby="csh-tab" th:unless="${#httpServletRequest.remoteUser}">
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col">Книги
                            <ul class="lib_list">
                                <li>C# Programming Yellow Book</li>
                                <li>Fundamentals of Computer Programming with C#</li>
                                <li>C# Programming</li>
                                <li>.NET Book Zero</li>
                                <li>C # 7.0 Pocket guide</li>
                                <li>Microsoft Visual C #. Detailed guide</li>
                                <li>Introduction to programming and the C# language</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="ruby_tab" role="tabpanel" aria-labelledby="ruby-tab" th:unless="${#httpServletRequest.remoteUser}">
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col">Книги
                            <ul class="lib_list">
                                <li>Ruby Best Practices</li>
                                <li>Ruby path</li>
                                <li>Learn Ruby the Hard Way</li>
                                <li>Head First. Learn Ruby</li>
                                <li>Ruby Essentials</li>
                                <li>Ruby Programming</li>
                                <li>Ruby on Rails for beginners. Learning Rails Web Application Development</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="objc_tab" role="tabpanel" aria-labelledby="objc-tab" th:unless="${#httpServletRequest.remoteUser}">
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col">Книги
                            <ul class="lib_list">
                                <li>Programming on Objective-C Steven Kochan</li>
                                <li>Iphone SDK Application Development Jonathan Zdiarski</li>
                                <li>Objective-C 2.0 and Mac Programming Mark Dalrymple</li>
                                <li>Application development for iPhone. Complete guide</li>
                                <li>Head First iPhone Development</li>
                                <li>Objective-C Programming For Dummies</li>
                                <li>Learn Objective-C on the Mac (Learn Series)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="container-fluid footer">
        <div class="row footer_info">
            <div class="col">ABOUT</div>
            <div class="col">CONTACTS</div>
            <div class="col">FEEDBACK</div>
        </div>
    </div>
</div>

<div class="modal fade bd-signUp-modal-sm mt-5" id="modalUp" tabindex="-1" role="dialog" aria-labelledby="smallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm mt-5">
        <div class="modal-content" style="background: rgb(25,45,172);color:white;font-weight: bold">
            <div class="modal-header">
                <h4 class="modal-title">Регистрация</h4>
                <button type="button" class="close bd-dark" data-dismiss="modal" aria-label="Close" style="color:white">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="form_up" method="post" action="/add_user">
            <div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="firstName">Имя</label>
                        <input type="text" class="form-control" id="firstName" required="required" placeholder="First name" pattern="[A-Z][a-z]{1,15}">
                        <small id="" class="form-text text-muted">С большой буквы латинского алфавита от 4 до 15 символов</small>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Фамилия</label>
                        <input type="text" class="form-control" id="lastName" required="required" placeholder="Last name" pattern="[A-Z][a-z]{4,15}">
                        <small id="" class="form-text text-muted">С большой буквы латинского алфавита от 4 до 15 символов</small>
                    </div>
                    <div class="form-group">
                        <label for="upUsername">Логин</label>
                        <input type="text" class="form-control" id="upUsername" required="required" placeholder="Name" pattern="[0-9a-zA-Z]{6,12}">
                        <small id="" class="form-text text-muted">Большие и маленькие буквы латинского алфавита и цифры от 6 до 12 символов</small>
                    </div>
                    <div class="form-group">
                       <label for="upPassword">Пароль</label>
                       <input type="password" class="form-control" id="upPassword" required="required" placeholder="Password" pattern="[A-Za-z0-9]{6,20}">
                        <small id="" class="form-text text-muted">Большие и маленькие буквы латинского алфавита и цифры от 6 до 20 символов</small>
                    </div>
                    <div class="form-group">
                       <label for="repeat_pass">Повторите пароль</label>
                       <input type="password" class="form-control" id="repeat_pass" required="required" placeholder="Repeat password" pattern="[A-Za-z0-9]{6,20}">
                    </div>
                    <div class="form-group">
                       <label for="mail">Почта</label>
                       <input type="email" class="form-control" aria-describedby="emailHelp" id="mail" required="required" placeholder="Email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+">
                    </div>
                </div>
            </div>
                <div>
                    <div class="modal-footer">
                        <button type="button" id="sign_up" class="btn btn-primary">Зарегистрироваться</button>
                        <button type="button"  class="close bd-dark" data-dismiss="modal" aria-label="Close" style="color:white">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade bd-signIn-modal-sm mt-5" id="modalIn" tabindex="-1" role="dialog" aria-labelledby="smallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm mt-5">
        <div class="modal-content" style="background: rgb(25,45,172);color:white;font-weight: bold">
            <div class="modal-header">
                <h4 class="modal-title">Вход</h4>
                <button type="button" class="close bd-dark" data-dismiss="modal" aria-label="Close" style="color:white">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form action="/index" method="post">
                <div>
                    <div class="modal-body">
                      <div class="form-group">
                          <label for="username">Логин</label>
                          <input type="text" id="username" class="form-control" name="username" required="required" pattern="[0-9a-zA-Z]{4,15}" placeholder="Name">
                      </div>
                      <div class="form-group">
                          <label for="password">Пароль</label>
                          <input type="password" id="password" class="form-control" name="password" required="required" placeholder="Password" pattern="[A-Za-z0-9]{6,20}">
                      </div>
                    </div>
                </div>
                <div>
                    <div class="modal-footer">
                        <button type="submit"  class="btn btn-primary btn-lg login-button btn-sm">Вход</button>
                        <button type="button" class="close bd-dark" data-dismiss="modal" aria-label="Close" style="color:white">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
